<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

    <title>List Products</title>
</head>

<body>

    <table class="w3-table ">
        <tr class="w3-red">
            <th>Product Name</th>
            <th>List Price</th>
            <th>Category</th>

        </tr>

        <% resultsQuery.forEach(function(a){ %>
        <tr class="w3-hover-blue">
            <td> <%= a.product_name %>
            </td>
            <td> <%= a.list_price%>
            </td>
            <td> <%= a.category %>
            </td>
        </tr>
        <% }); %>
    </table>

</body>

</html>