<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="/css/main.css">
    <script src="/js/script.js" defer></script>

    <title>Load Countries</title>
</head>

<body>
    <main>
        <div class="w3-container w3-row">
            <form class="w3-container w3-card-4 w3-quarter">
             <h2>Select Your Country</h2>
                <br>
                <label for="country">Contry Name: </label>

                <select class="w3-select" id="country">
                  <option value="" disabled selected>---</option>
                  
                </select>

                <label for="population">Population: </label>
                <input class="w3-input" type="number" id="population"></input>

                <label for="urlFlag">URL Flag: </label>
                <input class="w3-input" type="text" id="urlFlag"></input>

                <p><input type="submit" class="w3-btn w3-teal"></input>
                </p>
            </form>
            <div class="w3-container w3-card-4 w3-quarter">
                <img id="imatgeSeleccionada" src="" alt="">
            </div>
        </div>
    </main>
</body>

</html>
